.square{
    height: 406px;
    width: 406px;
    border: 3px solid rgb(221, 201, 20);
    margin: 50px auto;

}

.animateObject{
    height: 100px;
    width: 100px;
    background-color: blue;
    box-sizing: border-box;
    border: 1px solid rgb(177, 13, 13);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
}